@font-face {
  font-family: "cascadia code";
  src: local("cascadia code"),
    url("../../fonts/CascadiaCode.ttf") format("truetype");
}

body {
  background-image: url("../../assets/images/chatbg.jpg");
  background-size: inherit;
}

.mainhome {
  display: flex;
  justify-content: center;
}

.container {
  display: flexbox;
  align-items: center;
  box-shadow: 0 0px 10px;
  border-radius: 15px;
  text-align: center;
  margin-top: 50px;
  min-height: 450px;
  max-width: 380px;
  background-image: url("../../assets/images/whitebg.jpg");
}

.fbBtn {
  width: 370px;
  padding: 5px 0 5px 0;

  border: 2px solid royalblue;
  background-color: royalblue;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.fbBtn:hover {
  background: none;
  color: royalblue;
  transition: all;

  transition-duration: 0.4s;
  border: 2px solid royalblue;
}

.fbBtn:active {
  background: royalblue;
  color: white;
  transition: all;

  transition-duration: 0s;
  border: 2px solid royalblue;
}

.googleBtn {
  width: 370px;
  padding: 6px 0 6px 0;
  border: 2px solid red;
  background-color: red;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.googleBtn:hover {
  background: none;
  color: red;
  transition: all;
  transition-duration: 0.4s;
  border: 2px solid crimson;
}

.googleBtn:active {
  background: red;
  color: white;
  transition: all;
  transition-duration: 0s;
  border: 2px solid crimson;
}

.chatHeading {
  background-color: black;
  border-radius: 0 15px;
}

.chatIcon {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  margin: 0px 0 -72px 83px;

  width: 35px;
}

.appName {
  color: whitesmoke;
  font-family: "cascadia code";
  padding-bottom: 5px;
  font-variant: small-caps;
  font-size: 35px;
}

.chatDesc {
  font-family: "cascadia code";
}

.chatDesc2 {
  font-family: "cascadia code";

  border-radius: 10px;
}

.allbtn {
  margin-top: 50px;
}

.link {
  font-size: xx-large;
  font-weight: bolder;
  color: crimson;
  text-decoration: none;
}

.approvalpopup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.approvaltitle {
  font-family: sans-serif;
}

.approvalnote {
  padding: 15px;
}

.approvalpopup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 95%;
  max-width: 500px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.approvalpopup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: crimson;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 150%;
}

.approvalpopup.active .overlay {
  display: block;
}

.approvalpopup.active .content {
  transition: all 300ms ease-out;
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 1225px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 1075px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 925px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 815px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 700px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 615px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 555px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 510px) {
  .container {
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 460px) {
  .container {
    position: relative;
    left: 30px;
    right: 10px;
    justify-content: center;
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 435px) {
  .container {
    position: relative;
    left: 20px;
    right: 50px;
    justify-content: center;
    box-shadow: 0 0px 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: auto;
  }
}

@media (max-width: 415px) {
  .container {
    box-shadow: none;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: 350px;
  }

  .fbBtn {
    width: 300px;
    padding: 5px 0 5px 0;

    border: 2px solid royalblue;
    background-color: royalblue;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }

  .googleBtn {
    width: 300px;
    padding: 6px 0 6px 0;
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }

  .chatIcon {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    margin: 0px 0 -72px 53px;

    width: 35px;
  }
}

@media (max-width: 415px) {
  .container {
    box-shadow: none;
    border-radius: 15px;
    text-align: center;
    min-height: 450px;
    max-width: 350px;
  }
}